// Open_information start

.Open_information {
    position: relative;
    margin-top: 10px;
    margin-bottom: 60px;

    &__text {
        @include fontAll(16px, 400, $blik);
        line-height: 25px;
    }

    &__top {
        margin-top: 30px;
    }

    &__pro {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 30px;
        margin-top: 30px;
    }

    &__pro__text {
        @include fontAll(20px, 500, $blik);
        line-height: 25px;
        margin-right: 10px;
    }


    &__pro__link {
        @include fontAll(16px, 600, $blue);
        padding: 10px 20px;
        border-radius: 6px;
        border: 2px solid $blue;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        @extend%transition;

        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

// Open_information end


@media (max-width:1250px) {
    .Open_information {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:650px) {
    .Open_information {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
}