// Contact_information_service start

.Contact_information_service {
    position: relative;
    margin-top: 50px;
    margin-bottom: 90px;


    &__top__icons__link {
        @include fontAll(18px, 500, $text);
        line-height: 35px;

        span {
            color: $blue;
            margin-right: 10px;
        }
    }

    &__top__ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        grid-gap: 20px;

        li+li {
            margin-left: 10px;
        }

        li {
            background-color: #F7F7F7;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50px;
            position: relative;
            @extend%transition;

            &:hover {
                background-color: $blue;
            }
        }
    }

    &__top__cart__link {
        @include fontAll(20px, 600, $blue);
        position: absolute;
        @extend%transition;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 70px;
    }

    &__top__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 20px;
    }

    &__top__input {
        background-color: #fff;
        border: 2px solid $blue;
        width: 250px;
        outline: none;
        padding: 10px 20px;
        height: 40px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        @include fontAll(14px, 500, $text);

        &::placeholder {
            @include fontAll(14px, 500, $text);
        }
    }

    &__top__textarea {
        background-color: #fff;
        border: 2px solid $blue;
        width: 100%;
        resize: none;
        outline: none;
        padding: 10px 20px;
        height: 120px;
        margin-top: 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        @include fontAll(14px, 500, $text);

        &::placeholder {
            @include fontAll(14px, 500, $text);
        }
    }

    &__top__button {
        padding: 15px 20px;
        background-color: #fff;
        margin-top: 20px;
        border: 2px solid $blue;
        @include fontAll(18px, 500, $blik);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        @extend%transition;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;

        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }

    &__form__button {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}


.Contact_information_service__top__ul li:hover>.Contact_information_service__top__cart__link {
    color: #fff;
}

// Contact_information_service end






@media (max-width:1250px) {
    .Contact_information_service {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}


@media (max-width:1080px) {
    .Contact_information_service__top__input {
        width: 200px;
    }
}


@media (max-width:980px) {
    .Contact_information_service__top {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 70px;
        flex-direction: column;
    }

    .Contact_information_service__top__cart {
        margin-top: 30px;
    }

    .Contact_information_service__top__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    .Contact_information_service__top {
        margin-top: 0;
    }

    .Contact_information_service__form__input {
        position: relative;
        width: 100%;
    }

    .Contact_information_service__top__input {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (max-width:650px) {
    .Contact_information_service {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .Contact_information_service__top__button {
        font-size: 16px;
    }
}