// FOTO_GALEREYA start

.FOTO_GALEREYA {
    position: relative;
    margin-bottom: 50px;

    &__top {
        margin-top: 30px;
        max-width: 100%;

        .slick-prev {
            font-size: 0;
            background-color: #fff;
            border: 2px solid $blue;
            position: absolute;
            width: 50px;
            left: -30px;
            top: 50%;
            border-radius: 50px;
            height: 50px;
            transform: translate(0px, -50%);
            -webkit-transform: translate(0px, -50%);
            -moz-transform: translate(0px, -50%);
            -ms-transform: translate(0px, -50%);
            -o-transform: translate(0px, -50%);
            @extend%transition;

            &::after {
                content: "";
                display: block;
                background-image: url(../foto/left.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }

            &:hover {
                background-color: $blue;
            }
        }


        .slick-next {
            font-size: 0;
            background-color: #fff;
            border: 2px solid $blue;
            position: absolute;
            width: 50px;
            right: -30px;
            top: 50%;
            border-radius: 50px;
            height: 50px;
            transform: translate(0px, -50%);
            -webkit-transform: translate(0px, -50%);
            -moz-transform: translate(0px, -50%);
            -ms-transform: translate(0px, -50%);
            -o-transform: translate(0px, -50%);
            @extend%transition;

            &:after {
                content: "";
                display: block;
                background-image: url(../foto/right.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }

            &:hover {
                background-color: $blue;
            }
        }
    }

    &__top__img {
        @include fiximg(100%, 500px, true);
        margin: 0 30px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        img {
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
    }
}

.FOTO_GALEREYA__top .slick-slide {
    height: 500px;
}


// FOTO_GALEREYA end


@media (max-width:1250px) {
    .FOTO_GALEREYA {
        margin-left: 40px;
        margin-right: 40px;
    }

    .FOTO_GALEREYA__top__img {
        height: 400px !important;
    }
}



@media (max-width:950px) {
    .FOTO_GALEREYA {
        position: relative;
        margin-bottom: 80px;
    }

    .FOTO_GALEREYA {
        margin-left: 30px;
        margin-right: 30px;
    }

    .FOTO_GALEREYA__top__img {
        margin: 0 auto;
    }

    .FOTO_GALEREYA__top .slick-next {
        font-size: 0;
        background-color: #fff;
        border: 2px solid #17A9EF;
        position: absolute;
        width: 50px;
        right: 40%;
        top: 110%;
        border-radius: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .FOTO_GALEREYA__top .slick-prev {
        font-size: 0;
        background-color: #fff;
        border: 2px solid #17A9EF;
        position: absolute;
        width: 50px;
        left: 40%;
        top: 110%;
        border-radius: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}


@media (max-width:700px) {
    .FOTO_GALEREYA__top__img {
        height: 300px !important;
    }

    .FOTO_GALEREYA__top .slick-next {
        margin-top: 10px;
    }

    .FOTO_GALEREYA__top .slick-prev {
        margin-top: 10px;
    }
}


@media (max-width:650px) {
    .FOTO_GALEREYA__top .slick-next {
        right: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        margin-top: 0;
    }

    .FOTO_GALEREYA__top .slick-prev {
        left: 0;
        margin-top: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .FOTO_GALEREYA {
        position: relative;
        margin-bottom: 100px;
    }

    .FOTO_GALEREYA {
        margin-left: 20px;
        margin-right: 20px;
    }

    .FOTO_GALEREYA__top__img {
        height: 240px !important;
    }

    .fotomrx__title {
        font-size: 26px;
        line-height: 30px;
    }
}