/*======foto1 start======*/



.fotomrx {
    position: relative;
    margin-bottom: 80px;
    @extend%transition;

    &__title {
        @include fontAll(30px, 700, $blik);
        line-height: 40px;
        margin-top: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__cart1 {
        width: 360px;
        max-height: 100%;
        border: 1px solid $blue;
        background-color: #fff;
    }

    &__title__h3 {
        @include fontAll(22px, 600, $blik);
        @extend%transition;
        line-height: 32px;
        padding: 20px 15px 20px 15px;
        max-height: 100px;
        max-width: 360px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    &__logo__png {
        @include fiximg(100%, 220px, true);
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 100%;
            transition: 0.4s ease transform;

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 30px;
    }
}


.fotomrx__cart1:hover {
    background-color: $blue;
}

.fotomrx__cart1:hover .fotomrx__title__h3 {
    color: #fff;
}


.fotomrx__cart1:hover .fotomrx__logo__png img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*======foto1 end======*/



@media (max-width:1300px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 180px;
    }

    .fotomrx__cart1 {
        width: 320px;
        max-height: 100%;
    }
}

@media (max-width:1250px) {
    .fotomrx {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:1180px) {
    .fotomrx__title {
        line-height: 10px;
        margin-top: 37px;
        margin-bottom: 40px;
    }

    .fotomrx__logo__png {
        width: 100%;
        height: 160px;
    }

    .fotomrx__cart1 {
        width: 280px;
        max-height: 100%;
    }

    .fotomrx__title__h3 {
        font-size: 20px;
    }
}


@media (max-width:1040px) {
    .fotomrx__cart1 {
        width: 48%;
        max-height: 100%;
    }

    .fotomrx__logo__png {
        width: 100%;
        height: 200px;
    }
}


@media (max-width:890px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 180px;
    }

    .fotomrx__cart1 {
        width: 47%;
        max-height: 100%;
    }

    .fotomrx {
        position: relative;
        margin-bottom: 60px;
    }

    .fotomrx__title {
        line-height: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: left;
    }

    .asosy__nav__menu {
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:790px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 160px;
    }

    .fotomrx__cart1 {
        width: 48%;
        max-height: 100%;
    }

    .fotomrx__top {
        grid-gap: 30px 15px;
    }
}


@media (max-width:700px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 140px;
    }

    .fotomrx__cart1 {
        width: 48%;
        max-height: 100%;
    }

    .fotomrx__title__h3 {
        font-size: 22px;
        padding: 15px 15px 11px 15px;
    }
}


@media (max-width:650px) {
    .fotomrx {
        margin-left: 20px;
        margin-right: 20px;
    }

    .fotomrx__title__h3 {
        font-size: 20px;
    }
}


@media (max-width:580px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 110px;
    }

    .fotomrx__cart1 {
        width: 48%;
        max-height: 100%;
    }

    .fotomrx__title__h3 {
        font-size: 16px;
        padding: 15px 15px 11px 15px;
    }

    .fotomrx {
        margin-bottom: 40px;
    }
}


@media (max-width:500px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 100px;
    }

    .fotomrx__title__h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        padding: 10px 10px 11px 10px;
    }

    .fotomrx__cart1 {
        width: 48%;
        max-height: 100%;
    }
}


@media (max-width:440px) {
    .fotomrx__logo__png {
        width: 100%;
        height: 140px;
    }

    .fotomrx__cart1 {
        width: 100%;
        max-height: 100%;
    }

    .fotomrx__top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}