// Management start

.Management {
    position: relative;
    margin-bottom: 60px;
    margin-top: 20px;

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        grid-gap: 20px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    &__cart {
        max-width: 350px;
        text-align: center;
        margin-bottom: 10px;
        max-height: 100%;
        border: 1px solid $blue;
    }

    &__img {
        @include fiximg(100%, 360px, true);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $blue;
        @extend%transition;

        img {
            @extend%transition;
        }
    }

    &__title__h3 {
        @include fontAll(24px, 600, $blik);
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    &__title__h4 {
        @include fontAll(20px, 500, $blue);
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.Management__cart a:hover>.Management__img img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

// Management send


@media (max-width:1250px) {
    .Management {
        margin-left: 30px;
        margin-bottom: 50px;
        margin-right: 30px;
    }
}



@media (max-width:1150px) {
    .Management__cart {
        max-width: 300px;
    }

    .Management__title__h3 {
        font-size: 22px;
    }

    .Management__img {
        height: 270px;
    }
}


@media (max-width:1000px) {
    .Management__cart {
        max-width: 350px;
    }

    .Management__img {
        height: 360px;
    }
}


@media (max-width:790px) {
    .Management__cart {
        max-width: 300px;
    }

    .Management__img {
        height: 270px;
    }
}


@media (max-width:690px) {
    .Management__cart {
        max-width: 280px;
    }

    .Management__img {
        height: 250px;
    }

    .Management__title__h3 {
        font-size: 20px;
    }
}


@media (max-width:650px) {
    .Management {
        margin-left: 20px;
        margin-bottom: 40px;
        margin-right: 20px;
    }


    .Management__cart {
        max-width: 260px;
    }

    .Management__img {
        height: 230px;
    }
}



@media (max-width:580px) {
    .Management__cart {
        max-width: 100%;
    }

    .Management__img {
        height: 250px;
    }


    .Management__top {
        justify-content: center;
    }

    .Management__title__h4 {
        font-size: 18px;
    }
}



@media (max-width:350px) {
    .Management__img {
        height: 220px;
    }
}