// Mediathek start

.Mediathek {
  position: relative;
  margin-bottom: 100px;

  &__main {
    width: 60%;
    height: 400px;
  }

  &__top {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__top__list {
    width: 410px !important;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid $blue !important;
    margin-bottom: 10px;
    height: 100px;
    display: flex !important;
    align-items: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }

  &__top__list__img {
    @include fiximg(140px, 100%, true);
    flex: 0 0 140px;

    img {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  &__top__list__title__h3 {
    @include fontAll(18px, 500, $text);
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden;
    max-height: 85px;
  }
}

iframe {
  width: 100% !important;
  object-fit: cover;
  height: 400px !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.Mediathek .slider-nav {
  width: 450px !important;
  max-height: 400px;
  margin-left: 20px;
}

.slider-nav .slick-list {
  height: 400px !important;
  overflow-y: auto;
  max-width: 430px;
}

.slider-nav .slick-track {
  padding-right: 10px;
}


.slider-nav .slick-list::-webkit-scrollbar {
  width: 4px;
}

.slider-nav .slick-list::-webkit-scrollbar-track {
  border-radius: 50px;
}

.slider-nav .slick-list::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 50px;
}


// Mediathek end



.asosy__nav__menu {
  display: flex;
  align-items: center;
}

.asosy__link__nav {
  @include fontAll(16px, 500, $link);
  margin: 20px 0;
}



@media (max-width:1250px) {
  .asosy {
    margin: 0 30px;
  }

  .Mediathek {
    margin-bottom: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }
}


@media (max-width:1125px) {
  .Mediathek__top {
    flex-wrap: wrap;
    flex-direction: column;
  }

  iframe {
    height: 500px !important;
  }

  .Mediathek__main {
    width: 100%;
    height: auto !important;
    margin-bottom: 30px;
  }

  .Mediathek .slider-nav {
    margin-left: 0;
    width: 100% !important;
  }


  .slider-nav .slick-list {
    max-width: 100%;
  }

  .Mediathek__top__list {
    width: 100% !important;
  }
}


@media (max-width:650px) {
  .asosy {
    margin: 0 20px;
  }

  .Mediathek {
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }

  iframe {
    height: 400px !important;
  }

}


@media (max-width:460px) {
  .asosy__link__nav {
    font-size: 15px;
  }

  iframe {
    height: 300px !important;
  }

  .slider-nav .slick-list {
    height: 265px !important;
  }
}



@media (max-width:380px) {
  iframe {
    height: 250px !important;
  }

  .Mediathek__top__list__img {
    width: 120px;
    flex: 0 0 120px;
  }

  .slider-nav .slick-list {
    height: 235px px !important;
  }

  .Mediathek__top__list__title__h3 {
    margin-left: 10px;
    max-height: 90px;
    font-size: 16px;
  }
}