/*======Works start======*/


.Works {
    margin-bottom: 60px;
    position: relative;

    &__title__h2 {
        @include fontAll(31px, 700, #000);
        line-height: 40px;
        margin-bottom: 32px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 30px;
    }

    &__cart1 {
        width: 204px;
        height: 100%;
        padding-bottom: 10px;
        background-color: #fff;
        border: 1px solid $blue;
        @extend%transition;

        &:hover {
            background-color: $blue;
        }
    }

    &__logo {
        @include fiximg(100%, 260px, true);
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: 0.4s ease transform;
            @extend%transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__title__h3__text {
        @include fontAll(18px, 500, #000);
        line-height: 22px;
        @extend%transition;
        padding: 12px 8px;
        max-height: 58px;
        overflow: hidden;
    }
}


.num {
    display: none;
}

.paginator {
    line-height: 150%;

    .slick-prev {
        font-size: 0;
        background-color: transparent;

        &::after {
            content: "";
            display: block;
            background-image: url(../foto/left.png);
            width: 13.6px;
            height: 23.8px;
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translate(0px, -50%);
            -webkit-transform: translate(0px, -50%);
            -moz-transform: translate(0px, -50%);
            -ms-transform: translate(0px, -50%);
            -o-transform: translate(0px, -50%);
        }
    }


    .slick-next {
        font-size: 0;
        background-color: transparent;

        &::after {
            content: "";
            display: block;
            background-image: url(../foto/right.png);
            width: 13.6px;
            height: 23.8px;
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translate(0px, -50%);
            -webkit-transform: translate(0px, -50%);
            -moz-transform: translate(0px, -50%);
            -ms-transform: translate(0px, -50%);
            -o-transform: translate(0px, -50%);
        }
    }
}

.paginator span {
    display: inline-block;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid $blue;
    text-align: center;
    @include fontAll(16px, 500, $blik);
    cursor: pointer;
    padding: 7px 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.paginator_active {
    color: #fff !important;
    background-color: $blue !important;
}

.paginator.slick-slider {
    max-width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.Works__cart1 a:hover>.Works__title__h3__text {
    color: #fff;
}

/*======Works end======*/

@media (max-width:1250px) {
    .Works {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:1050px) {
    .Works__top {
        grid-gap: 20px;
    }
}

@media (max-width:950px) {
    .Works__title__h2 {
        text-align: left;
    }
}


@media (max-width:780px) {
    .Works__cart1 {
        width: 200px;
    }

    .Works__title__h3__text {
        font-size: 17px;
        padding: 12px 10px;
    }
}


@media (max-width:670px) {

    .Works__cart1 {
        width: 200px;
    }

    .Works__title__h3__text {
        font-size: 16px;
        padding: 11px 10px;
    }

}


@media (max-width:650px) {
    .Works__title__h2 {
        margin-top: -10px;
        text-align: left;
    }

    .Works {
        margin-left: 20px;
        margin-right: 20px;
    }
}



@media (max-width:570px) {
    .Works__cart1 {
        width: 200px;
    }
}


@media (max-width:510px) {
    .Works__logo {
        height: 220px;
    }

    .Works__cart1 {
        width: 200px;
    }
}


@media (max-width:460px) {
    .Works__cart1 {
        width: 100%;
        height: 100%;
    }

    .Works__logo {
        height: 250px;
    }
}