@import "files/_color";
@import "files/fonts";
@import "files/mixins";
@import "_video.scss";
@import "_foto1.scss";
@import "_foto.scss";
@import "_Events_conference";
@import "_Events_conference_in";
@import "_Management.scss";
@import "_Fund_structure";
@import "_Open_information.scss";
@import "_Contact_information_service.scss";
@import "_Works.scss";
@import "_VIRTUAL_QABULXONA.scss";

body {
    font-family: 'Gotham Pro', sans-serif;
}

.continer {
    max-width: 1140px;
    margin: 0 auto;
}



// header start

header {
    margin-top: 22px;
}

.header {
    position: relative;
    margin: 22px 0;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__img {
        @include fiximg(71px, 71px, false);
        margin-right: 5px;
    }

    &__text {
        max-width: 164px;
        max-height: 52px;
        overflow: hidden;
        @include fontAll(9px, 700, $blue);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 150.7%;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__pro {
        display: flex;
        padding-bottom: 15px;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
    }

    &__mrx {
        margin-left: 40px;
    }

    &__pro__main__cart {
        display: flex;
        align-items: center;

        li+li {
            margin-left: 40px;
        }
    }

    &__pro__main__cart__link {
        @include fontAll(12px, normal, $link);
        line-height: 11px;

        span {
            color: $blue;
            margin-right: 5px;
        }
    }

    &__button__link {
        @include fontAll(12px, normal, #fff);
        text-transform: uppercase;
        background-color: $blue;
        line-height: 11px;
        padding: 9px;
        border-radius: 6px;
    }

    &__button {
        margin-left: 60px;
        margin-right: 30px;
    }

    &__ru__uz__en {
        position: relative;
        border-left: 2px solid #ECECEC;
        border-right: 2px solid #ECECEC;
        padding: 0 25px;

        ul li nav {
            position: absolute;
            box-shadow: 2px 5px 27px rgba(0, 0, 0, 0.15);
            background-color: #fff;
            padding: 5px;
            z-index: 100;
            display: none;

            ul {
                li {
                    padding-bottom: 5px;
                }

                li+li {
                    border-top: 1px solid #ECECEC;
                }
            }
        }
    }

    &__ru__uz__en__link {
        @include fontAll(12px, normal, $link);
        line-height: 11px;
        text-transform: uppercase;
    }

    &__icons__minu {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-bottom: -3px;

        li+li {
            margin-left: 10px;
        }
    }

    &__icons {
        @include fiximg(18px, 18px, true);
    }

    &__main__nav__ul {
        display: flex;
        padding-top: 15px;
        align-items: center;
        position: relative;
        justify-content: space-between;

        li nav {
            position: absolute;
            padding: 5px 0;
            background: #17A9EF;
            border-radius: 0px 6px 6px 6px;
            min-width: 210px;
            height: auto;
            margin-top: 5px;
            display: none;
            z-index: 100;
            max-width: 350px;

            ul {
                li {
                    padding: 5px 20px;
                }

                li+li {
                    border-top: 1px solid rgba(255, 255, 255, 0.22);
                }
            }
        }

    }

    &__nav__ul__link {
        @include fontAll(12px, 500, #fff);
        line-height: 160%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @extend%transition;

        &:hover {
            color: rgb(241, 234, 234);
        }
    }

    &__main__nav__ul__link {
        @include fontAll(12px, 500, $link);
        line-height: 11px;
        padding: 0 5px;
        text-transform: uppercase;
        @extend%transition;

        &:hover {
            color: $blue;
        }
    }

    &__btn {
        &:hover {
            padding: 19px 5px 14px 5px;
            background-color: $blue;
            color: #fff;
        }
    }

    &__burger {
        display: none;
    }

    &__burger__false {
        display: none;
    }
}

.header__main__nav__ul li:hover>.header__btn {
    padding: 19px 5px 14px 5px;
    background-color: $blue;
    color: #fff;
}

.header__main__nav__ul li:hover>nav {
    display: block;
}


.header__ru__uz__en ul li:hover>nav {
    display: block;
}



// header end




// slaeder start

.slaeder {
    position: relative;

    .slick-slide {
        width: 100%;
        height: 500px;
    }

    &__top__item {
        width: 100%;
        height: 500px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(0, 0, 0, 0.1);
            z-index: -1;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        max-width: 510px;
        min-height: 100px;
        max-height: 300px;
        transform: translate(0px, -50%);
        -webkit-transform: translate(0px, -50%);
        -moz-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
        -o-transform: translate(0px, -50%);
    }

    &__text__title__h2 {
        @include fontAll(35px, 700, #fff);
        line-height: 156%;
        padding-bottom: 15px;
    }

    &__text__p {
        @include fontAll(16px, normal, #fff);
        line-height: 156%;
        max-height: 200px;
        overflow: hidden;
    }

    .slick-dots {
        max-width: 1140px;
        margin: 0 auto;
        z-index: 10;
        position: inherit;
        bottom: 40px;
        display: flex;
        align-items: center;

        li+li {
            margin-left: 20px;
        }

        li {
            button {
                font-size: 0;
            }

            width: 12px;
            border-radius: 50px;
            height: 12px;
            background-color: rgba(255, 255, 255, 0.4);
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

        }

        .slick-active {
            width: 16px;
            height: 16px;
            border: 50px;
            background-color: #fff;
        }

    }
}

// slaeder end



// news start

.news {
    position: relative;
    margin-top: 50px;
    margin-bottom: 70px;

    &__title {
        @include fontAll(30px, 700, $blik);
        line-height: 52px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
    }

    &__top__img {
        @include fiximg(430px, 385px, true);
        object-position: center center;
    }

    &__top__cart__text {
        max-width: 390px;
        margin-left: 35px;
        margin-right: 45px;
    }

    &__data__title__h4 {
        @include fontAll(15px, normal, $blue);
        line-height: 120%;
        margin-bottom: 15px;

        span {
            margin-right: 5px;
        }
    }

    &__title__h3 {
        @include fontAll(20px, 700, $blik);
        line-height: 156%;
        margin-bottom: 10px;
    }

    &__text {
        @include fontAll(14px, normal, $text);
        line-height: 156%;
        max-height: 258px;
        margin-bottom: 25px;
        overflow: hidden;
    }

    &__top__cart__link {
        @include fontAll(14px, normal, #fff);
        line-height: 156%;
        padding: 10px 30px;
        background-color: $blue;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    &__top__cart {
        width: 240px;
        height: auto;
        margin-bottom: 30px;
    }

    &__top__img__news {
        @include fiximg(240px, 120px, true);
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;
        @extend%transition;

        img {
            @extend%transition;

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }

    &__top__img__news__title__h5 {
        position: absolute;
        left: 0;
        bottom: 0;
        @include fontAll(12px, normal, #fff);
        padding: 9px 12px;
        background-color: rgba(0, 0, 0, 0.3);
        height: 30px;
        min-width: 110px;

        span {
            padding-right: 10px;
        }
    }

    &__top__img__news__text {
        @include fontAll(13px, 500, $blik);
        line-height: 130%;
    }
}

// news end



// NEWSPAPER start

.NEWSPAPER {
    position: relative;
    margin-bottom: 110px;

    &__top__img {
        @include fiximg(260px, 310px, true);
        margin: 0 15px;
    }

    &__title {
        @include fontAll(30px, 700, $blik);
        line-height: 52px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__top {
        .slick-prev {
            font-size: 0;
            background-color: transparent;

            &::after {
                content: "";
                display: block;
                background-image: url(../foto/left.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translate(0px, -50%);
                -webkit-transform: translate(0px, -50%);
                -moz-transform: translate(0px, -50%);
                -ms-transform: translate(0px, -50%);
                -o-transform: translate(0px, -50%);
            }
        }


        .slick-next {
            font-size: 0;
            background-color: transparent;

            &::after {
                content: "";
                display: block;
                background-image: url(../foto/right.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                right: -30px;
                transform: translate(0px, -50%);
                -webkit-transform: translate(0px, -50%);
                -moz-transform: translate(0px, -50%);
                -ms-transform: translate(0px, -50%);
                -o-transform: translate(0px, -50%);
            }
        }
    }
}



// NEWSPAPER end



// Oʻzbekiston viloyatlari start

path{
    fill: rgb(23, 169, 239);
    stroke: rgb(234, 234, 236);
    stroke-width: 1.43107px;
    @extend%transition;
}

path:hover{
    fill: rgb(59, 114, 159);
    stroke: rgb(206, 206, 206);
}

.regional_councils__regional__cart__cart path.active{
    fill: rgb(59, 114, 159);
    stroke: rgb(206, 206, 206);
}

// Oʻzbekiston viloyatlari end



// regional councils start

.regional_councils {
    position: relative;
    margin-bottom: 70px;
    padding: 40px 0;
    width: 100%;
    z-index: 10;
    height: 570px;
    background-color: rgba(82, 184, 228, 0.15);


    &__regional__cart__cart{
        path{
            cursor: pointer;
        }
    }

    &__titile__h2 {
        @include fontAll(30px, 700, $blik);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__regional {
        width: 690px;
        height: 420px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__adrise {
        background-color: #fff;
        border-radius: 6px;
        width: 300px;
        min-height: 200px;
        max-height: 350px;
        padding: 30px 30px;
        overflow: hidden;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    &__adrise__h3 {
        @include fontAll(20px, 700, $blik);
        line-height: 156%;
    }

    &__adrise__text {
        @include fontAll(10px, 500, $blik);
        margin-bottom: 20px;
        line-height: 156%;
    }

    &__adrise__link {
        @include fontAll(10px, 500, $blik);
        margin-bottom: 15px;
        line-height: 156%;

        span {
            color: $blue;
            font-size: 14px;
            margin-right: 5px;
        }
    }

    &__adrise__top {
        max-width: 300px;

        .slick-slide {
            width: 300px !important;
            max-height: 350px;
        }
    }

}

.regional_councils__adrise__text{
    overflow-y: auto;
    max-height: 95px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.regional_councils__adrise__text::-webkit-scrollbar {
    width: 4px;
  }
  
.regional_councils__adrise__text::-webkit-scrollbar-track {
    border-radius: 50px;
}

.regional_councils__adrise__text::-webkit-scrollbar-thumb {
    background-color: #17A9EF;
    border-radius: 50px;
  }


#map_inner {
    width: 690px !important;
    height: 420px !important;

    a {
        position: absolute;
        left: -5000000px;
    }
}


// regional councils end



// Foto_galereya start

.Foto_galereya {
    margin-bottom: 70px;
    position: relative;

    &__img {
        @include fiximg(260px, 230px, true);
        margin: 0 15px;
    }

    &__title__h2 {
        @include fontAll(30px, 700, $blik);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__top {
        .slick-prev {
            font-size: 0;
            background-color: transparent;

            &::after {
                content: "";
                display: block;
                background-image: url(../foto/left.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translate(0px, -50%);
                -webkit-transform: translate(0px, -50%);
                -moz-transform: translate(0px, -50%);
                -ms-transform: translate(0px, -50%);
                -o-transform: translate(0px, -50%);
            }
        }


        .slick-next {
            font-size: 0;
            background-color: transparent;

            &::after {
                content: "";
                display: block;
                background-image: url(../foto/right.png);
                width: 13.6px;
                height: 23.8px;
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                right: -30px;
                transform: translate(0px, -50%);
                -webkit-transform: translate(0px, -50%);
                -moz-transform: translate(0px, -50%);
                -ms-transform: translate(0px, -50%);
                -o-transform: translate(0px, -50%);
            }
        }
    }
}

// Foto_galereya end



// useful_links start

.useful_links {
    position: relative;
    margin-bottom: 80px;

    &__title {
        @include fontAll(30px, 700, $blik);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    &__top__cart__img {
        width: 238px;
        height: 158px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        position: relative;

        img {
            position: absolute;
            width: 184px;
            height: auto;
            object-fit: contain;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }
}

.useful_links__top__cart__img {
    margin-bottom: 10px;
}

// useful_links end



// footer start

.footer {
    position: relative;
    width: 100%;
    height: 270px;
    padding: 50px 0;
    background-color: $blue;

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__top__icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15px;

        li+li {
            margin-left: 20px;
        }
    }

    &__top__text__link {
        @include fontAll(16px, normal, rgba(255, 255, 255, 0.75));
        line-height: 35px;
    }

    &__top__link {
        @include fontAll(15px, 700, #fff);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 42px;
    }
}

// footer end




// anemation start

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.9);
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid $blue;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #1c6f96;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #0e384b;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid $blue;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #1c6f96;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #0e384b;
        border-left-color: transparent;
    }
}


// anemation end




@media (max-width:1250px) {
    .header__button {
        margin-left: 30px;
    }

    .header__top {
        margin-right: 30px;
        margin-left: 30px;
    }

    .header__pro__main__cart li+li {
        margin-left: 15px;
    }

    .slaeder__text {
        margin: 0 30px;
    }

    .slaeder .slick-dots {
        padding-left: 30px;
    }

    .news {
        margin-left: 30px;
        margin-right: 30px;
    }

    .NEWSPAPER {
        margin-left: 30px;
        margin-right: 30px;
    }

    .NEWSPAPER__top .slick-next::after {
        right: -20px;
    }

    .NEWSPAPER__top .slick-prev::after {
        left: -20px;
    }

    .regional_councils {
        padding-left: 30px;
        padding-right: 30px;
    }

    .Foto_galereya {
        margin-left: 30px;
        margin-right: 30px;
    }

    .Foto_galereya__top .slick-next::after {
        right: -20px;
    }

    .Foto_galereya__top .slick-prev::after {
        left: -20px;
    }

    .useful_links {
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer__top {
        margin: 0 30px;
    }
}



@media (max-width:1150px) {
    .header__mrx {
        display: none;
        width: 100%;
        z-index: 100;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        left: 0;
        margin: 0;
        top: 0;
    }

    .header__burger {
        display: block;
        font-size: 34px;
        background-color: transparent;
        color: $blue;
    }

    .header__top {
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .header__pro__main__cart {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        grid-gap: 10px;
        flex-direction: inherit;

        li {
            margin: 5px;
        }
    }

    .header__pro {
        padding-bottom: 15px;
        align-items: flex-start;
        border-bottom: 0px solid #ECECEC;
        flex-direction: column;
    }

    .header__main__nav__ul {
        align-items: flex-start;
        position: relative;
        justify-content: space-between;
        flex-direction: column;
    }

    .header__pro__main__cart li+li {
        margin-left: 5px;
    }

    .header__mrx__pro {
        position: absolute;
        right: 0;
        top: 0;
        padding: 40px 60px 20px 30px;
        background-color: #fff;
        min-height: 100%;
        width: 50%;
    }

    .header__button {
        margin-left: 0px;
        height: 40px;
        margin-top: 30px;
    }

    .header__ru__uz__en {
        position: relative;
        position: relative;
        border-left: 0px solid #ECECEC;
        border-right: 0px solid #ECECEC;
        padding: 0;
    }

    .header__icons__minu {
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .header__main__nav__ul {
        flex-direction: column;
    }

    .header__main__nav__ul__link {
        padding: 0;
    }

    .header__burger__false {
        display: block;
        position: absolute;
        right: 30px;
        color: $blue;
        font-size: 34px;
        background-color: transparent;
    }

    .header__main__nav__ul li nav {
        position: relative;
    }

    .header__main__nav__ul li:hover>.header__btn {
        padding: 10px 5px 14px 5px;
    }

    .header__main__nav__ul__link {
        line-height: 25px;
    }

    .slaeder .slick-slide {
        height: 430px;
    }

    .news {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .NEWSPAPER {
        position: relative;
        margin-bottom: 60px;
    }

    .Foto_galereya {
        margin-bottom: 30px;
    }

    .news__top {
        flex-wrap: wrap;
    }

    .news__top__news__cart {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
        grid-gap: 15px;
        margin-left: -15px;
    }

    .news__top__cart {
        margin-left: 15px;
    }

    .news__top__cart__text {
        max-width: 400px;
        margin-left: 35px;
        margin-right: 0px;
    }

    .news__top__img {
        width: 48%;
        height: 385px;
        object-position: center center;
    }

    .regional_councils__regional {
        width: 600px;
        height: 420px;
    }
}


@media (max-width:1000px) {
    .regional_councils__regional{
        width: 500px;
    }

    .regional_councils {
        height: 490px;
    }
}

@media (max-width:950px) {
    .regional_councils__regional{
        width: 450px;
        height: auto;
    }

    .regional_councils {
        height: 430px;
    }

    #map_inner {
        width: 445px !important;
        height: 288px !important;
    }

   

    .slaeder .slick-slide {
        height: 360px;
    }

    .header {
        margin: 10px 0;
    }

    header {
        margin-top: 10px;
    }

    .header__top {
        margin-bottom: 10px;
    }

    .NEWSPAPER__title {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .news__title {
        font-size: 26px;
    }

    .regional_councils__titile__h2 {
        font-size: 26px;
    }

    .Foto_galereya__title__h2 {
        font-size: 26px;
    }

    .useful_links__title {
        font-size: 26px;
    }

    .slaeder__text__title__h2 {
        font-size: 30px;
    }
}



@media (max-width:900px) {
    .news__top {
        flex-direction: column;
        margin-top: 20px;
    }

    .news__top__cart__text {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .news__text {
        max-height: 100%;
    }

    .news__top__img {
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
        object-position: center center;
    }
}


@media (max-width:820px) {
    

    .regional_councils {
        height: 100% !important;
    }

    #map_inner {
        width: 100% !important;
        height: 100% !important;
    }

  

    .regional_councils__top {
        justify-content: center;
        flex-direction: column;
    }

    .regional_councils {
        height: 100%;
    }

    .regional_councils__adrise {
        margin-top: 20px;
    }
}


@media (max-width:718px) {
    .footer__top {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .footer__top__icons {
        align-items: center;
        margin-top: 10px;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
}


@media (max-width:650px) {

    .header__top {
        margin-right: 20px;
        margin-left: 20px;
    }


    .slaeder__text {
        margin: 0 20px;
    }

    .slaeder .slick-dots {
        padding-left: 20px;
    }

    .news {
        margin-left: 20px;
        margin-right: 20px;
    }

    .NEWSPAPER {
        margin-left: 20px;
        margin-right: 20px;
    }

    .NEWSPAPER__top .slick-next::after {
        right: 40%;
        transform: translate(-50%, 0);
        top: 100%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }

    .NEWSPAPER__top .slick-prev::after {
        left: 43%;
        transform: translate(-50%, 0);
        top: 100%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }

    .regional_councils {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Foto_galereya {
        margin-left: 20px;
        margin-right: 20px;
    }

    .Foto_galereya__top .slick-next::after {
        right: 40%;
        transform: translate(-50%, 0);
        top: 100%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }

    .Foto_galereya__top .slick-prev::after {
        left: 43%;
        transform: translate(-50%, 0);
        top: 100%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }


    .useful_links {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .footer__top {
        margin: 0 20px;
    }

    .Foto_galereya {
        margin-bottom: 40px;
    }

    .news {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .regional_councils {
        margin-bottom: 40px;
    }

    .header__mrx__pro {
        width: 80%;
    }

    .news__top__img {
        height: auto;
    }

    .slaeder__text__p {
        margin-bottom: 40px;
    }

    .slaeder__text__title__h2 {
        padding-bottom: 0;
        font-size: 26px;
        margin-bottom: 0px;
        overflow: hidden;
        max-height: 90px;
    }

}


@media (max-width:540px) {
    .useful_links__top__cart__img {
        width: 210px;
        height: 130px;
    }

    .slaeder .slick-slide {
        height: 280px;
    }

    .slaeder__text__title__h2 {
        font-size: 26px;
        margin-bottom: 0px;
        overflow: hidden;
        max-height: 90px;
    }
}


@media (max-width:480px) {
    .useful_links__top {
        justify-content: center;
        align-items: center;
    }

    .useful_links__top__cart__img {
        width: 240px;
        height: 150px;
    }

    .regional_councils__regional {
        width: 360px;
        height: auto;
    }
}


@media (max-width:380px) {
    .header__mrx__pro {
        width: 100%;
    }

    .header__text {
        max-width: 150px;
    }

    .regional_councils__regional {
        width: 320px;
        height: auto;
    }

    .slaeder__text__title__h2 {
        font-size: 20px;
        line-height: 22px;
    }

    .news__title {
        font-size: 24px;
    }

    .NEWSPAPER__title {
        font-size: 24px;
    }

    .regional_councils__titile__h2 {
        font-size: 24px;
    }

    .Foto_galereya__title__h2 {
        font-size: 24px;
    }

    .useful_links__title {
        font-size: 24px;
    }
}



@media (max-width:350px) {
    .regional_councils__adrise {
        width: 280px;
    }

    .regional_councils__regional {
        width: 260px;
        height: auto;
    }
}